<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" internalLogFile="nlog.log" autoReload="true">

  <targets async="true">
    <target name="file"
            xsi:type="File"
            fileName="${basedir}/log/${shortdate}.log"
            layout=" ${date:universalTime=True:format=dd-MM-yyyy HH\:mm\:ss.fff} ${message}"
            archiveFileName="${basedir}/log/archives/${shortdate}.{#####}.log"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            maxArchiveFiles="15"
            keepFileOpen="false">
    </target>
    <target name="tracefile"
            xsi:type="File"
            fileName="${basedir}/log/Trace/${shortdate}.log"
            layout=" ${date:universalTime=True:format=dd-MM-yyyy HH\:mm\:ss.fff} ${message}"
            archiveFileName="${basedir}/log/Trace/archives/${shortdate}.{#####}.log"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            maxArchiveFiles="15"
            keepFileOpen="false">
    </target>
    <target xsi:type="Console"
            name="ConsoleWindow"
            layout=" ${date:universalTime=True:format=dd-MM-yyyy HH\:mm\:ss.fff} ${message}">
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="tracefile" />
    <logger name="*" minlevel="Info" writeTo="file,ConsoleWindow" />
  </rules>
</nlog>
