@model long

@{
    ViewBag.Title = "AddProductSKU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="productId" value="@Model" />
<h2>AddProductSKU</h2>
<div>
    <form name="theForm">
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="MRP" class="control-label col-md-12"> MRP </label>
                    <input type="text" ng-model="sku.MRP" id="MRP" class="form-control" />
                    <div id="validation_for_MRP"></div>
                </div>
                <div class="col-md-2">
                    <label for="UnitPrice" class="control-label col-md-12"> UnitPrice </label>
                    <input type="text" ng-model="sku.UnitPrice" id="UnitPrice" class="form-control" />
                    <div id="validation_for_UnitPrice"></div>
                </div>
                <div class="col-md-2">
                    <label for="BasicPrice" class="control-label col-md-12"> BasicPrice </label>
                    <input type="text" ng-model="sku.BasicPrice" id="BasicPrice" class="form-control" />
                    <div id="validation_for_BasicPrice"></div>
                </div>

                <div class="col-md-3">
                    <label for="ProductGrossWeight" class="control-label col-md-12"> GrossWeight </label>
                    <input type="text" ng-model="sku.ProductGrossWeight" id="ProductGrossWeight" class="form-control" />
                    <div id="validation_for_ProductGrossWeight"></div>
                </div>
                <div class="col-md-3">
                    <label for="ProductNetWeight" class="control-label col-md-12">  NetWeight </label>
                    <input type="text" ng-model="sku.ProductNetWeight" id="ProductNetWeight" class="form-control" />
                    <div id="validation_for_ProductNetWeight"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label for="SKUSize" class="control-label col-md-12"> SKU Size </label>
                    <input type="text" ng-model="sku.SKUSize" id="SKUSize" class="form-control" />
                    <div id="validation_for_SKUSize"></div>
                </div>            
                <div class="col-md-3">
                    <label for="ReOrderLevel" class="control-label col-md-12"> ReOrderLevel </label>
                    <input type="text" ng-model="sku.ReOrderLevel" id="ReOrderLevel" class="form-control" />
                    <div id="validation_for_ReOrderLevel"></div>
                </div>
                <div class="col-md-3">
                    <label for="MinimumStockLevel" class="control-label col-md-12"> Min StockLevel </label>
                    <input type="text" ng-model="sku.MinimumStockLevel" id="MinimumStockLevel" class="form-control" />
                    <div id="validation_for_MinimumStockLevel"></div>
                </div>
                <div class="col-md-3">
                    <label for="MaximumStockLevel" class="control-label col-md-12"> Max StockLevel </label>
                    <input type="text" ng-model="sku.MaximumStockLevel" id="MaximumStockLevel" class="form-control" />
                    <div id="validation_for_MaximumStockLevel"></div>
                </div>
            </div>






            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <input type="button" value="Add Product Sku" class="btn btn-success" ng-click="addProductSku()" />
                </div>
                <div class="col-md-offset-2 col-md-3">
                    <input type="button" value="cancel" class="btn btn-success" ng-click="cleanProductSku()" />
                </div>
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    SKU Size
                </th>
                <th>
                    MRP
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Basic Price
                </th>
                <th>
                    Gross Wt
                </th>
                <th>
                    Net Wt
                </th>
                <th>
                    ReOrderLevel
                </th>
                <th>
                    Min StockLevel
                </th>
                <th>
                    Max StockLevel
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ProductSkus">
                <td>
                    {{ item.SKUSize }}
                </td>
                <td>
                    {{ item.MRP }}
                </td>
                <td>
                    {{ item.UnitPrice }}
                </td>
                <td>
                    {{ item.BasicPrice }}
                </td>
                <td>
                    {{ item.ProductGrossWeight }}
                </td>
                <td>
                    {{ item.ProductNetWeight }}
                </td>
                <td>
                    {{ item.ReOrderLevel }}
                </td>
                <td>
                    {{ item.MinimumStockLevel }}
                </td>
                <td>
                    {{ item.MaximumStockLevel }}
                </td>

                <!--<td>
                    <a ng-href="#/ProductSKU/Edit/{{item.ID}}">Edit</a> |
                    <a ng-href="#/ProductSKU/{{item.ID}}">Details</a> |
                    <a ng-href="#/ProductSKU/Delete/{{item.ID}}">Delete</a>
                </td>-->
            </tr>
        </tbody>

    </table>

</div>